* {
  font-family: 'Merriweather', serif;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 100px;
  color: blue;
}

.choices:hover {
  
  color: green;
  cursor: pointer;
}